body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --bg: #ffffff;
    --text: #111111;
    --label-color: #333333; /* pentru iconițe și skill names */

    /* NOU: pentru dropdown light */
    --dropdown-bg: #f0f0f0;
    --dropdown-text: #111;
}

.dark-mode {
    --bg: #121212;
    --text: #eeeeee;
    --label-color: #ffffff; /* alb pentru dark mode */

    /* NOU: pentru dropdown dark */
    --dropdown-bg: #222;
    --dropdown-text: #fff;

}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 2rem;
}
